baseFont = Rubik, sans-serif
baseFontBold = Rubik Mono One, sans-serif

goldenColor = #CFAA6B
blackColor = #262626
redColor = #FF2731
buttonHoverColor = #DC1822
buttonDisabledColor = #DBDBDB
greyColor = #717171

buttonWidth = 240px
buttonHeight = 60px

inputBaseBorder = 4px
inputPadding = 4px
inputWidth = buttonWidth
inputHeight = buttonHeight

mediaFirstPoint = 760px
mediaSecondPoint = 450px
