mixin svgCodePreloader()
	+e.SVG.bottle(width="39px" height="142px" viewBox="0 0 39 142" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
			g(id="page" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
				g(id="KIT-3" transform="translate(-1457.000000, -415.000000)" fill="#362C26")
					g(id="Group-3" transform="translate(702.000000, 415.000000)")
						g(id="Group-18")
							path(d="M790.263319,59.9469658 L786.715239,53.293344 C786.383948,52.6719727 786.177511,51.9943189 786.106496,51.2969339 L781.750503,8.36926651 L781.658679,8.36926651 C782.050085,8.36926651 782.310361,7.97334852 782.148514,7.62465604 L781.237878,5.66253303 C781.138127,5.44840091 781.19593,5.1954533 781.379246,5.04310251 C781.760412,4.72546241 781.531184,4.11508884 781.03078,4.11508884 L782.604658,4.11508884 L781.872053,1.09006834 C781.717143,0.450906606 781.134163,0 780.463655,0 L769.072277,0 C768.404741,0 767.825065,0.448965831 767.671145,1.08456948 L766.936889,4.11508884 L768.441404,4.11508884 C767.948266,4.11508884 767.715075,4.71025968 768.081708,5.03307517 L768.168246,5.10973576 C768.343966,5.26467426 768.395823,5.51341686 768.296072,5.72334396 L767.395345,7.62012756 C767.229534,7.96946697 767.48981,8.36926651 767.882867,8.36926651 L763.9087,51.6983508 C763.839007,52.3776219 763.635873,53.0374852 763.310527,53.6413895 L759.339003,61.0182733 C756.844909,65.6499317 755.541877,70.8072164 755.541877,76.043426 L755.541877,133.351909 C755.541877,138.127831 759.495565,142 764.372771,142 L785.026416,142 C789.982234,142 794,138.065727 794,133.212173 L794,74.8602005 C794,69.6670114 792.718107,64.5504829 790.263319,59.9469658" id="Fill-1-Copy-10")

mixin preloader()
	+b.preloader&attributes(attributes)
		+svgCodePreloader
